@font-face {
   font-family: chalky;
   src: url(fonts/Chalktastic-r78L.ttf);
}
*{
    box-sizing: border-box;
}

:root{
    --board-size: 450px;
    --cell-size: calc(var(--board-size)/3);
    --cell-border: none;

    --x-image: url(img/white-x.png);
    --o-image: url(img/white-o.png);
    --img-size: calc(var(--cell-size)*0.8);
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #232323;

    font-family: 'chalky', cursive;
}

.modal {
   display: block; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
 }

 .modal.hide{
   display: none;
 }

 .modal-content {
   background-color: #e2e2e2;
   margin: 0 auto; /* 15% from the top and centered */
   padding: 5% 20px;
   border: 1px solid #888;
   /* width: 50rem;  *//* Could be more or less, depending on screen size */

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 2rem;
 }

 .input-area{
   display: flex;
   align-items: center;
   gap: 2rem;
 }

 .input-area input{
   width: 250px;
   height: fit-content;
   border-radius: 10px;
   padding: 0.5rem;

   font-size: 2rem;
   font-family: inherit;
   text-align: center;
 }

 #vs-span{
   font-size: 3rem;
 }

 #ready-button{
   width: min(20%, 250px);
   height: max-content;
   font-size: larger;
   padding: 10px;
   border-radius: 10px;

   color: white;
   background-color: black;

   font-family: inherit;
 }

 #ready-button:hover{
   scale: 1.1;
   transition: 0.2s;

 }

 .main{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10rem;
   margin-top: auto;
   padding-right: 1rem;
   padding-left: 1rem;
 }

.board{
   flex: 3;

    display: grid;
    grid-template-columns: repeat(3, auto);

    width: var(--board-size);
    height: var(--board-size);
    background-color: #1fe;
    background-image: url(img/chalk-board.png);
}
 .cell{
    size: var(--cell-size);
    border: var(--cell-border);
    cursor: pointer;
 }

 .cell.X, .cell.O{
    background-size: var(--img-size) var(--img-size);
    background-repeat: no-repeat;
    background-position: center;
    cursor: not-allowed;
    /* filter: invert(90%);  */
 }

 .cell.X{
    background-image: var(--x-image);
 }

 .cell.O{
    background-image: var(--o-image);
 }


 .board > div:nth-child(3n+0){
    border-right: none;
 }

 .board > div:nth-child(3n+1){
    border-left: none;
 }

 .board > div:nth-child(-n+3){
    border-top: none;
 }

 .board > div:nth-child(n+7){
    border-bottom: none;
 }

 .score-display{
   display: grid;
   grid-template: 0.5fr 5fr / 1fr 1fr;
   grid-template-areas: 
      'p1-name p2-name'
      'p1-score p2-score';
   justify-content: center;
   align-items: center;
}

.score-display.hide{
   display: none;
}

.score-display > *{
   padding: 1rem;

}

 .p1-name, .p2-name{
   color: white;
   font-size: 1.5rem;
   border-bottom: 5px solid white;
 }

 .p1-score, .p2-score{
   font-size: 1.5rem;
   color: white;
   align-self: baseline;
   justify-self: center;
   padding-bottom: 5rem;
}

 .p1-name{
   border-right: 5px solid white;
 }

 .result-display{
    display: none;
    
}

.result-display.active{
     position: fixed;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     
     background-color: rgba(223, 221, 221, 0.884);
     
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 2rem;

 }

 
 .message{
    font-size: 3.5rem;
 }

 #next-button, #restart-button{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color: black;
    font-size: 2rem;
    border: 2px solid white;
    font-family: inherit;
 }

 #next-button:hover, #restart-button:hover{
    color: black;
    background-color: white;
    border: 2px solid black;

 }

 .font-credit, a{
   color: white;
   margin-top: auto;
   font-size: small;
}

.font-credit a{
    text-decoration: underline;

 }