*{
    box-sizing: border-box;
}

:root{
    --board-size: 450px;
    --cell-size: calc(var(--board-size)/3);
    --cell-border: 1px solid black;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, auto);

    width: var(--board-size);
    height: var(--board-size);
    background-color: #1fe;
}
 .cell{
    size: var(--cell-size);
    border: var(--cell-border);
 }


 .board > div:nth-child(3n+0){
    border-right: none;
 }

 .board > div:nth-child(3n+1){
    border-left: none;
 }

 .board > div:nth-child(-n+3){
    border-top: none;
 }

 .board > div:nth-child(n+7){
    border-bottom: none;
 }